/* Write your CSS here */
.todo-item {
  display: flex;
  justify-content: space-between;
  background-color: #c77d5e;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  height: 70px;
}

.todo-title {
  color: #000000;
}

.delete-button {
  background-color: #f30e38;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 20px;
  width: 100px;
}

.delete-button:hover {
  background-color: #cc1b3b;
}

.save-button {
  background-color: #1af30e;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  width: 100px;
}

.save-button:hover {
  background-color: #4acc1b;
}

.edit-button {
  background-color: #f3e40e;
  color: #000000;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  width: 100px;
}

.edit-button:hover {
  background-color: #b7cc1b;
}

.strike {
  text-decoration: line-through;
}

.todo-label {
  margin-left: 0%;
}

.input-todo-container {
  display: flex;
}
